.page-reward {
    margin: 60px 0;
    text-align: center;
    .page-reward-btn {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        color: #fff;
        background: #B22222;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(233, 116, 116, 0.16),0 2px 10px 0 rgba(233, 120, 120, 0.12);
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        &:hover, &:active {
            box-shadow: 0 6px 12px rgba(235, 114, 114, 0.2),0 4px 15px rgba(163, 94, 94, 0.2);
        }
        .tooltip-item {
            display: block;
            width: 36px;
            height: 36px;
        }
    }
    .reward-box {
        display: flex;
        justify-content: space-around;
    }
    .reward-p {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 1px #CD5C5C;
        .icon {
            margin: 0 10px;
            color: #ddd;
        }
    }
    .reward-type {
        font-size: 16px;
        display: block;
        color: #CD5C5C;
        margin: 20px 0 0 0;
    }
    .reward-img {
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
        border-radius: 1px;
    }
}
